body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header, nav, main, footer {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
}
h1, h2 {
    color: #333;
}
h1 {
    font-size: 3em;
    color: transparent;
    background-image: linear-gradient(to right, #6dd5ed, #2193b0);
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

nav {
    background-color: #f4acb7;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.imapro {
    max-width: 50%;
    height: auto; 
    display: block;
    margin: 0 auto;
}
.imatit {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #ff7f50;
    color: #fff;
    text-align: center;
    position: static;
    width: 100%;
}